$font-size-sm: 0.8rem;

@import "styles/variables";
@import "~bootstrap/scss/bootstrap";
@import "styles/bootswatch";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.border-focus {
    border: none;
}

.border-focus:focus {
    border: 1px solid $primary;
}

.pointer {
    cursor: pointer;
}

.w-100p {
    width: 100%;
}
.w-75p {
    width: 75%;
}